<!DOCTYPE html>
<html>

<head>

      <title>Citizen Health Risk Advisory System</title>

      <meta charset="UTF-8">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

      <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

      <div class="dashboard">

            <div id="map"></div>

            <div id="sidebar">

                  <h2>Ward Details</h2>

                  <div class="info">
                        Click any ward on the map.
                  </div>

            </div>

      </div>

      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
      <script src="/static/js/map.js"></script>

</body>

</html>